.container__wrapper{
    display: flex;
    flex-flow: column;
    padding:  0 50px;
    background: #e6f0f3;
}
.container__wrapper .title{
    margin: 50px 0;
}
.items__container{
    width: 100%;
    background: transparent;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-flow: row;
    font-size: 1.9em;
    padding: 10px 0;
}
.results__item {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 10px 20px;
    font-size: 1.3em;
    width: 23vw;
}
.persent{
    font-size: 50%;
    vertical-align: text-top;
    line-height: 1.8;
}
.item__content{
    padding: 20px 0;
    color:#002140;
    border-top: 1px solid #d8d8d8;
}
.btn__discover{
    padding: 10px;
    text-transform: uppercase;
    border-top: 1px solid #002140;
    border-right: 1px solid #002140;
    border-left: 1px solid #002140;
    transition: all ease-in-out;
}
.btn__discover:hover{

}
[class*="ItemButtons"] button:last-child{
    border-left: 1px solid #f3f7f7bf;
    border-radius: 0;
}
.results__item ul li span{
    color: #03a9f4;
}
.results__title{
    color: #03a9f4;
    text-align: center;
    margin: 5px 0;
}