body{
  margin: 0;
  padding:0;
}

.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}
.App button[class*='muneIcon']{
  display: none;
}
[class*="App-list"] a> ul{
  padding-left: 10px;
}
[class*="App-root"] [class*="paper"]{
  align-items: center;
}
.App-intro {
  font-size: large;
}

.content .results{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}
[class*="MuiTabs-flexContainer"]{
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
[class*="MuiTabs-flexContainer"]:after{
  display: block;
  content: "";
  height:1px;
  width: 90%;
  position: absolute;
  top:50%;
  background-color: cadetblue;
  z-index:1;
}
.article_wrapper{
  display: flex;
  flex-flow: row wrap;
  width:68%;
}
.news__title{
  max-width: 260px;
}
.news__card{
  width: 40%;
  box-shadow: none;
  margin: 0 5% 2% 0!important;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@media (max-width: 860px) {
  div[class*='ItemButtons']{
    display: none;
  }

  .App button[class*='muneIcon']{
    display: inline-flex;
  }

}